@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);

body {
  font-family: "Oswald", sans-serif;
}
.fl {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skrin {
  height: calc(100vh - 64px);
}

@media screen and (min-width: 1024px) {
  .store {
    width: calc(100vw - 15%);
  }
}

.fl2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 13px;
  bottom: 0;
  left: 10px;
  right: 0;
  width: 55px;
  height: 25px;
  background-color: gray;
  display: flex;
  align-items: center;
  border-radius: 20%;
  opacity: 70%;
}

.sliderOrange {
  position: absolute;
  cursor: pointer;
  top: 13px;
  bottom: 0;
  left: 10px;
  right: 0;
  width: 55px;
  height: 25px;
  background-color: red;
  display: flex;
  align-items: center;
  border-radius: 20%;
  opacity: 70%;
}

.sliderOrange:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: white;
  margin-left: 4px;
  border-radius: 30%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: white;
  margin-left: 4px;
  border-radius: 30%;
}

.switch input[type="checkbox"]:checked + .slider:before {
  transform: translateX(30px);
}

.switch input[type="checkbox"]:checked + .sliderOrange:before {
  transform: translateX(30px);
}

.Navlink {
  @apply text-gray-500;
  @apply border-opacity-25;
  height: 50px;
  display: flex;

  align-items: center;
  @apply rounded-lg;
  @apply p-2;
  @apply mt-1;
}

.active {
  @apply bg-orange-500;
  color: white;
}

.activeDva {
  @apply bg-orange-500;
  color: white;
}

.NavlinkMobile {
  @apply text-gray-500;
  @apply border-opacity-25;
  height: 100%;
  display: flex;
  align-items: center;
  @apply rounded-sm;
  @apply p-2;
  display: flex;
  justify-content: center;
}

.drag-indicator {
  height: 95%;
  @apply rounded-lg;
  width: 10px;
  @apply bg-gray-300;
  position: absolute;
  top: 0;
  right: -5px;
}

.animacija {
  z-index: 110;
  box-sizing: border-box;
  height: 100vh;
  width: 0%;
  position: absolute;
  right: 0;
  overflow-x: hidden;
  top: 0;
  animation: ani 1s forwards;
}

.closingAnimacija {
  z-index: 110;
  box-sizing: border-box;
  width: 20%;
  position: absolute;
  right: 0;
  overflow-x: hidden;
  top: 0;
  height: 100vh;
  animation: aniClose 1s forwards;
}

@keyframes ani {
  0% {
    width: 0%;
  }

  100% {
    width: 20%;
  }
}

@keyframes aniClose {
  0% {
    width: 20%;
  }

  100% {
    width: 0%;
  }
}

.fl3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.zz {
  z-index: 60;
}

/* RATING CSS */

.star {
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

.mido {
  z-index: 550;
}
