@tailwind base;
@tailwind components;
@tailwind utilities;

.fl {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skrin {
  height: calc(100vh - 70px);
}

.store {
  width: calc(100vw - 15%);
}
